<% provide(:title, "ホーム") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <!--<div class="col-md-8">-->
    <!--  <h3>ツイート一覧</h3>-->
    <!--  <%= render 'shared/feed' %>-->
    <!--</div>-->
  </div>
  <%= render 'static_pages/user_logged_in' %>
<% else %>

  <!--<div class="center jumbotron">-->
  <div>
    <h1>ボディメイキング</h1>
    <h1>コミュニティへようこそ</h1>
    <div class="center">
      <p><font size="5" color="##000000">このページは美ボディ・筋トレ好きが集うページです </font></p>
    </div>
      <!--<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>-->
      <!--sample application.-->
    
    <div style="text-align:center;">
      <%= link_to "サインアップはこちら", signup_path, class: "btn btn-lg btn-primary"%>
    </div>
  </div>

  <body>
  </body>

  <!--%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %-->
              

<% end %>